// witterzomer
$main: #940E15;
$second: #F5A200;
$main_bg: #EFEFEF;

// sprookjescamping
// $main: #533864;
// $second: #FBAA28; 
// $main_bg: #fae6cc;

$green: #08B318;
$red: #e40a0a;
$blue: #0a85e4;

$mobile: (max-width 768px);

html, body{ height: 100%; }

@import "datepicker/datepicker"; 
@import "lightbox/lightGallery";
@import "bootstrap/variables"; 
@import "bootstrap/mixins";
@import "bootstrap/modals";
@import "ekkolightbox";

@mixin transition($timing) {
  -moz-transition:    all, $timing;
  -o-transition:      all, $timing;
  -webkit-transition: all, $timing;
  transition:         all, $timing;
}

.sr{
  @import "bootstrap/variables";
  @import "bootstrap/mixins";
  @import "bootstrap/scaffolding";

  @import "bootstrap/forms";
  @import "bootstrap/buttons";
  @import "bootstrap/grid";
  @import "bootstrap/tables";
  @import "bootstrap/panels";
  @import "bootstrap/navs";
  @import "bootstrap/tooltip";
  @import "bootstrap/utilities";

  @import "leaflet";
  @import "animations";
  @import "slick";

  @import "entity";
  @import "search";
  @import "book";
  @import "map";
  @import "pricetable";

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
        padding-left: 10px;
        padding-right: 10px;
    }
    .sr-row{
        margin-left: -10px;
        margin-right: -10px;
    }
    .sr-relative{
        position: relative;
    }
    .sr-third{
        @extend .col-sm-4;
    }
    .sr-fourth{
        @extend .col-sm-3;
    }
    .sr-loading{
        width: 32px;
        height: 32px;
        display: inline-block;
        background: url('../img/loading.gif');
    }
    .sr-input{
        border-radius: 0;
        background: #fff;
    }
    .panel-body{
        padding: 20px;
    }
    .clearfix:after{
        content: ' ';
        clear: both;
        display: block;
    }
    .sr-clear{
        clear: both;
    }

  input[type=text], input[type=email], input[type=tel], input[readonly], select, textarea{
    @extend .form-control;
    @extend .sr-input;

    background: #fff;
    border: 1px solid #ddd;
    box-shadow: none;

  }
    .sr-btn{
        @extend .btn;
        background: $main_bg;
        color: $main;
        border: none;
        border-radius: none;

        &:hover,
        &:active,
        &:visited{
            background: darken($main_bg, 10);
            box-shadow: none;
        }
    }
    .sr-btn-primary{
        @extend .btn;
        @extend .btn-primary;
        @include transition(.3s);

        background: $main;
        border: none;
        border-radius: 0;

        font-size: 18px;

        &:hover{
            background: darken($main, 10) !important;
            box-shadow: none;
        }

        &:disabled{
            background: lighten($main, 30);
            box-shadow: none;            
        }
    }

    .sr-btn-secondary{
        @extend .btn;
        @extend .btn-primary;
        @include transition(.3s);

        background: $second;
        border: none;
        border-radius: 0;
        color: #fff;

        &:hover{
            background: darken($second, 10);
            box-shadow: none;
        }

        &:disabled{
            background: lighten($second, 30);
            box-shadow: none;            
        }

        &.sr-big{
            font-size: 1.2em;
            text-transform: uppercase;
        }
    }
    .sr-entity-stars {
        margin-left: 3px;
        color: #FFD700;
    }

    #widgetCalendar{
        position: absolute; 
        z-index: 99;
        margin-top: 40px;
    }
    .filters{
        ul{
            list-style: none;
            margin: 0 -20px;
            padding: 0;

            li{
                border-bottom: 1px solid #ddd;
                padding: 6px 20px;
                cursor: pointer;

                &:hover{
                    background: #eee;
                }

                &.selected{
                    background: #ddd;
                }
            }
        }
    }
    #bookgroup-panel{
        margin-top: -30px;
        background: #f5f5f5;
        position: absolute;
        z-index: 999;
        padding: 15px;
        box-sizing: content-box;
        box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
        min-width: 200px;
    }
    .sr-start, .sr-end, #bookgroup{
        cursor: default !important;
    }
    .sr-start, .sr-end{
        &:focus{
            box-shadow: 0 0 8px 3px rgba(0, 0, 0, .7) !important;
            border: 1px solid #000 !important;
        }
    }

    .sr-map{
        position: absolute;
        width: 100%;
        height: 100%;

        .leaflet-container{
            height: 100%;
            background: #fff;
        }
    }
    .sr-map-col{
        margin: 14px 30px;
    }

    .sr-widget {
        .sr-widget-head {
            background: $main;
            color: #fff;
            padding: 20px;
            font-weight: 200;
            text-transform: uppercase;
            font-size: 1.2em;
            margin-bottom: 4px;

        }

        .sr-widget-body{
            background: $main_bg;
            padding: 20px;
        }

        .sr-form-group{
            @extend .form-group;
            @extend .clearfix;
        }

        .sr-start-container,
        .sr-end-container{
            @extend .col-xs-6;
        }
    }
    .sr-widget-secondary {
        @extend .sr-widget;
        
        .sr-widget-head{
            margin-top: 20px;
            padding: 10px 20px;
            font-size: 1em;
        }
        .sr-widget-body{
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    .sr-start, .sr-end{
        background: url('../img/cal.png') no-repeat right center #fff !important;
    }


}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media screen and (max-width: 768px) { 
    @import 'mobile'; 

}

